<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uprisingscallscreen.theme.flashscreen">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeonKeyboardNew"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.ui.PrivacyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ExitActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.ui.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.PreviewActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.linearCategory.Theme_GifActivity_Calling_Theme_Preview"
            android:exported="false" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.dialer.CallingAnimActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.dialer.DialerActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.UploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.CategoryShowVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.Theme_Activity_Calling_Theme_Preview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.CategoryShowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.categoryui.KpopCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.RandomGenerateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.CategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.PopularActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.NetworkStateChangeReciver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.FullViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.ui.MoreItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.OS.ActivityPerM"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.ui.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="vnd.android.cursor.item/phone" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            -->
            <!-- <intent-filter android:label="@string/app_name" -->
            <!-- android:scheme="http"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data android:mimeType="vnd.android.cursor.dir/calls" /> -->
            <!-- </intent-filter> -->
            <!--
            <intent-filter android:label="@string/app_name">
                <action android:name="com.android.phone.action.RECENT_CALLS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.TestKeyboardActivity"
            android:exported="false"
            android:label="Apply Theme"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.EnableKeyboard"
            android:exported="true"
            android:label="Enable/Disable Keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.uprisingscallscreen.theme.flashscreen.MainActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <service
            android:name="keyboard.neon.newboard.KeyboardImeiService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/keyboardServiceName"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.dialer.services.CallServiceAnim"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.uprisingscallscreen.theme.flashscreen.callertheme.dialer.receivers.ActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="YES" />
                <action android:name="NO" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
   <!--     <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appId" />-->
    </application>

</manifest>